.article {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.card {
  z-index: 10;
  position: relative;
}

.card-front {
  z-index: 20;
  position: relative;
}

.text {
  letter-spacing: 0.05em;
}
